<div class="container" ng-controller="TodayTasksCtrl" ng-init="init()">
  <h1>Today Tasks</h1>

  <div class="panel panel-success">
    <div class="panel-heading">
      <span><%= l Date.today %></span>
    </div>

    <div class="panel-body">
      <form id="new_task" class="form-inline" ng-submit="addTask(taskName)">
        <div class="input-group">
          <input type="text" id="taskName" class="form-control input-lg" autofocus="autofocus" maxlength="255" ng-model="taskName">
        </div>
        <button class="btn btn-success btn-lg" type="submit">追加</button>
      </form>

      <ul class="list-group">
        <li class="list-group-item" ng-repeat="task in tasks" ng-class="{completed: task.completed}">
          <span class="task-completed pull-left">
            <label>
              <input type="checkbox" ng-model="task.completed" ng-click="toggleTask(task)">
            </label>
          </span>
          <div class="pull-left">
            <button class="btn btn-danger btn-xs" type="button" ng-click="deleteTask(task)">
              <span class="glyphicon glyphicon-ban-circle"></span>
            </button>
          </div>
          <div class="task-name" width="80%">{{task.name}}</div>
        </li>
      </ul>
    </div>
  </div>
</div>
